.title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 133%;
  color: #090a0e;
}

.tagList{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #626a8b;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}