.title{
  text-align: center;
  margin-bottom: 10px;
}

.filterWrapper{
  width: 20%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 23px;
}

.tagList{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input{
  outline: none;
  border: 1px solid orange;
  padding: 4px;
  border-radius: 10px;
  width: 100%;
}

.inputWrapper{
  position: relative;
}

.searchBtn{
  position: absolute;
  top: 5px;
  right: 5px;
}