.title{
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  letter-spacing: -0.01em;
  color: #444b51;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content{
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #2c3135;
  margin-bottom: 40px;
}

.buttonsWrapper{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.wrapper{
  padding: 15px;
}


.normal{
  background-color: grey;
  color: black;
}

.btn{
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
}